html, body {
    margin: 0;
    height: 100%;
    background-color:rgb(166, 245, 166);
    display: flex;
    justify-content: center;
    padding: 5px;
}

#app{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#timer {
    display: flex;
    font-size: 150%;
}

#game{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
}

#score {
    font-size: 150%;
}


#feedback {
    min-height: 22px;
    margin-top: 15px;
    font-size: 30px;
}


.top {
    padding: 16px 20px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 15px;
}



button {
    display:inline-flex;
    font-size: 225%;
    margin: 30px;
    justify-content: center;

}

.hud {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20%;
}

.hud-item{
    font-weight: 800;
}

#question-area{
    display: flex;
    background: lightsalmon;
    border: 2px orangered;
    padding: 15px; 
}

.answers{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.answer{
    flex: 1 1 calc(50% - 12px);
}

@media (max-width: 600px) {
    .answer{
        flex: 1 1 100%;
    }
}

#category {
    font-size: 15px;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
}