html, body {
    margin: 0;
    height: 100%;
    background-color:rgb(166, 245, 166);
    display: flexbox;
    justify-content: center;
}

#app{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#timer {
    display: flexbox;
    font-size: 150%;
}

#game{
    git
}

#score {
    font-size: 150%;
}


#feedback


.top {
    padding: 16px 20px;
    display: flex;
    align-items: baseline;
    gap: 15px;
}

button {
    display:inline-flexbox;
    font-size: larger;
    margin: 30px;
    justify-content: center;

}

.hud {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}

.hud-item{
    font-weight: 800;
}

#question-area{
    display: flexbox;
}

.answers{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.answer{
    flex: 1 1 calc(50% - 12px);
}

@media (max-width: 600px) {
    .answer{
        flex: 1 1 100%;
    }
}